<div class="cards__container">
  @for (room of rooms(); track $index) {
    <div class="card">
      <div class="info__container">
        <span class="title"> {{ room.title | titlecase }} </span>
        <span class="type"> {{ room.type | titlecase }} </span>
        <span class="number"> {{ room.number }} </span>
        <span class="price">
          {{ room.price | currency: "" : "symbol-narrow" : "4.0" }}
        </span>
      </div>

      <div class="icon__container">
        <i
          [class]="setIcon(room.title)"
          [style]="{ color: setColor(room.title) }"
        ></i>
      </div>
    </div>
  }
</div>
