<section class="home_section">
  <article class="organization__container">
    <div class="organization__info">
      <div class="organization__logo">
        <img src="/assets/img/mega-peña.jpeg" alt="Logo By Dizeid" width="50" />
      </div>

      <div class="organization__name">Mega Peña</div>
    </div>

    <div class="organization__change">
      <button>Cambiar organización <i nz-icon nzType="reload"></i></button>
    </div>
  </article>

  <article class="event__options">
    <input type="text" />

    <button>Agregar evento <i nz-icon nzType="plus"></i></button>
  </article>
</section>
